@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Montserrat";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Слайдер */
/* Слайдер запущен */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -10px 0px;
  position: absolute;
  top: 50%;
  right: 110px;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
  z-index: 15;
  /* Элемент точки */
  /* Активная точка */
}
.slick-dots li {
  padding: 10px 0px;
}
.slick-dots button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 5px solid #404040;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}
.slick-dots .slick-active button {
  border: 5px solid #004cff;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #232323;
}

.content {
  flex: 1 0 auto;
}

.main-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product {
  padding: 75px 0px;
}
@media (max-width: 997px) {
  .product {
    padding: 55px 0px;
  }
}
@media (max-width: 767px) {
  .product {
    padding: 15px 0px;
  }
}
.product__title {
  text-align: center;
  max-width: 275px;
  margin: 0 auto 60px;
  color: #f1f1f1;
  font-family: Teko;
  font-size: 53px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .product__title {
    margin: 0 auto 10px;
  }
}
.product__filter {
  margin: 0px 0px 34.5px 0px;
}
@media (max-width: 767px) {
  .product__filter {
    margin: 0px 0px 14.5px 0px;
  }
}
.product__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -10px;
}
@media (max-width: 767px) {
  .product__row {
    padding: 14.5px 0px 15px 0px;
  }
}
@media (max-width: 320px) {
  .product__row {
    padding: 0;
  }
}
.product__column {
  flex: 1 1 33.333%;
  padding: 0px 10px;
  margin: 0px 0px 20px 0px;
}
.filter {
  padding: 0px 0px 48px 0px;
  border-bottom: 2px solid #b2b2b2;
}
@media (max-width: 767px) {
  .filter {
    padding: 0px 0px 28px 0px;
  }
}
.filter__list {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 415px) {
  .filter__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .filter__list li {
    margin: 0px 0px 20px 0px;
  }
  .filter__list li:last-child {
    margin: 0;
  }
}
.filter__link {
  color: #f1f1f1;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.75px;
  cursor: pointer;
}
.filter__link.active {
  color: #0077ff;
}

.item-product {
  height: 100%;
  display: block;
  padding: 50px 40px 30px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 375px) {
  .item-product {
    padding: 20px 10px 10px;
  }
}
@media (min-width: 1023px) {
  .item-product:hover {
    box-shadow: inset 0px 0px 0px 5px #004cff;
  }
}
.item-product__body {
  min-height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-product__image {
  width: 250px;
  flex: 1 0 100%;
}
.item-product__image img {
  max-width: 100%;
}
.item-product__title {
  color: #262626;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.75px;
  margin: 0px 0px 27px 0px;
}
.item-product__price {
  color: #004cff;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.25px;
}

.fuel {
  padding: 45px;
}
@media (max-width: 767px) {
  .fuel {
    padding: 15px;
  }
}
.fuel__image-link {
  margin: 0px 0px 45px 0px;
}
.fuel__image-link:last-child {
  margin: 0;
}
@media (max-width: 767px) {
  .fuel__image-link {
    margin: 0px 0px 15px 0px;
  }
}

.image-link {
  color: #ffffff;
  font-family: Teko;
  text-transform: uppercase;
}
.image-link__row {
  display: flex;
  justify-content: space-between;
}
.image-link__row_reverse {
  flex-direction: row-reverse;
}
.image-link__column-big {
  flex: 1 1 66.666%;
}
.image-link__column-small {
  margin: 0px 0px 0px 45px;
  position: relative;
  flex: 1 1 33.333%;
}
.image-link__column-small_left {
  margin: 0px 45px 0px 0px;
}
@media (max-width: 767px) {
  .image-link__column-small {
    display: none;
  }
}
.image-link__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.description-image {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.description-image__body {
  padding: 11% 4% 5% 15%;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 89, 219, 0.75);
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 1023px) {
  .description-image__body:hover {
    opacity: 1;
  }
}
@media (max-width: 1023px) {
  .description-image__body {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .description-image__body {
    padding: 10px 0px 10px 0px;
  }
}
.description-image__row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: Teko;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .description-image__row {
    padding: 0px;
  }
}
.description-image__column {
  padding: 0px 20px;
  flex: 1 1 100%;
}
@media (max-width: 767px) {
  .description-image__column {
    padding: 10px;
  }
}
.description-image__column:last-child {
  flex: 0 1 auto;
}
.description-image__title {
  max-width: 575px;
  font-size: 68px;
  font-weight: 500;
  line-height: 61.5px;
  letter-spacing: 2.73px;
}
@media (max-width: 787px) {
  .description-image__title {
    max-width: 260px;
    font-size: 43px;
    line-height: 50px;
  }
}
.description-image__text {
  max-width: 145px;
  font-family: Teko;
  color: #ffffff;
  text-transform: uppercase;
}
.description-image__text p {
  font-size: 78px;
  font-weight: 700;
  line-height: 70.5px;
}
.description-image__text p:first-child {
  font-size: 43px;
  font-weight: 500;
  line-height: 123.75px;
}
@media (max-width: 787px) {
  .description-image p {
    font-size: 45px;
    font-weight: 700;
    line-height: 45.5px;
  }
  .description-image p:first-child {
    font-size: 31.5px;
    font-weight: 500;
    line-height: 72.75px;
  }
}
.description-image__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.up-to {
  padding: 45px;
}
@media (max-width: 997px) {
  .up-to {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .up-to {
    padding: 15px;
  }
}
.up-to__image-link {
  margin: 0px 0px 45px 0px;
}
.up-to__content {
  padding: 71px 0px 175px 0px;
  text-align: right;
  position: relative;
  z-index: 2;
}
@media (max-width: 769px) {
  .up-to__content {
    padding: 31px 0px 135px 0px;
  }
}
.up-to__text {
  margin: 0px 15% 0px 0px;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  max-width: 190px;
  font-family: "Teko";
  color: #262626;
  text-transform: uppercase;
}
@media (max-width: 769px) {
  .up-to__text {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .up-to__text {
    margin: 0px 15% 0px 0px;
  }
}
@media (max-width: 548px) {
  .up-to__text {
    margin: 0px 5% 0px 0px;
  }
}
.up-to__text p {
  font-size: 95px;
  font-weight: 700;
  line-height: 80px;
}
.up-to__text p:first-child {
  font-size: 52px;
  font-weight: 500;
}
@media (max-width: 485px) {
  .up-to__text p {
    font-size: 30px;
    line-height: 30px;
  }
  .up-to__text p:first-child {
    font-size: 15px;
    line-height: 15px;
  }
}
.form {
  position: relative;
}
.form__title {
  text-align: center;
  color: #ffffff;
  font-family: "Teko";
  font-size: 97px;
  font-weight: 700;
  line-height: 146.25px;
  text-transform: uppercase;
  margin: 0px 0px 60px 0px;
}
@media (max-width: 650px) {
  .form__title {
    margin: 0px 0px 30px 0px;
    font-size: 80px;
    line-height: 95px;
  }
}
@media (max-width: 420px) {
  .form__title {
    margin: 0px 0px 10px 0px;
    font-size: 50px;
    line-height: 65px;
  }
}
.form__content {
  padding: 180px 0px 146px 0px;
  background-color: rgba(34, 89, 219, 0.75);
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 1024px) {
  .form__content:hover {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .form__content {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .form__content {
    padding: 90px 0px 73px 0px;
  }
}
@media (max-width: 650px) {
  .form__content {
    padding: 25px 0px 25px 0px;
  }
}
.form__body {
  display: flex;
}
@media (max-width: 650px) {
  .form__body {
    display: block;
  }
}
.form__column {
  flex: 1 1 80%;
}
.form__column:last-child {
  flex: 1 1 20%;
}
@media (max-width: 650px) {
  .form__column {
    margin: 0px 0px 20px 0px;
  }
  .form__column:last-child {
    margin: 0;
  }
}
.form__input {
  width: 100%;
  height: 60px;
  padding: 20px 45px;
  color: #707070;
  font-size: 19px;
  font-weight: 400;
}
@media (max-width: 420px) {
  .form__input {
    padding: 10px 15px;
    color: #707070;
    font-size: 12px;
  }
}
.form__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button {
  width: 100%;
  padding: 0px 52px;
  min-height: 60px;
  background-color: #004cff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button span {
  color: #ffffff;
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .button:hover {
    box-shadow: inset 0px 0px 0px 5px #004cff;
    background-color: #fff;
  }
  .button:hover span {
    color: #004cff;
  }
}

.service {
  padding: 60px 0px 50px 0px;
}
.service__row {
  display: flex;
  margin: 0px -11px;
}
.service__column {
  flex: 1 1 33.333%;
  padding: 0px 11px;
}
.item-service {
  height: 100%;
  padding: 31.5px 35px 35.5px 38px;
  background-color: #fff;
  border: 3px solid #707070;
}
@media (max-width: 940px) {
  .item-service {
    padding: 21.5px 25px 25.5px 28px;
  }
}
@media (max-width: 390px) {
  .item-service {
    padding: 21.5px 25px 25.5px 18px;
  }
}
.item-service__body {
  height: 100%;
  padding: 0px 0px 0px 125px;
}
.item-service__body_shipping {
  background: url("../img/Service/icons/01.svg") 0 50% no-repeat;
}
.item-service__body_money-back {
  background: url("../img/Service/icons/02.svg") 0 50% no-repeat;
}
.item-service__body_help {
  background: url("../img/Service/icons/03.svg") 0 50% no-repeat;
}
@media (max-width: 390px) {
  .item-service__body {
    padding: 0px 0px 0px 100px;
  }
}
.item-service__content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.item-service__title {
  color: #262626;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  margin: 0px 0px 12.5px 0px;
  flex: 1 0 100%;
}
.item-service__text {
  color: #707070;
  font-size: 11px;
  line-height: 16.5px;
}
.item-service__text p {
  margin: 0px 0px 10px 0px;
}
.item-service__text p:last-child {
  margin: 0;
}

.images__row {
  display: flex;
  flex-wrap: wrap;
}
.images__column {
  flex: 1 1 33.333%;
}
.images__image {
  max-width: 480px;
  object-fit: cover;
}
.images__image img {
  max-width: 100%;
}
@media (max-width: 320px) {
  .images {
    display: none;
  }
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  top: 0;
  right: 0;
  z-index: 999;
}
.burger span, .burger::before, .burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #000;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger.active::before {
  top: 9px;
  transform: rotate(45deg);
}
.burger::after {
  bottom: 0;
}
.burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.burger span {
  top: 9px;
}
.burger.active span {
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
}

.menu {
  display: none;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.spoilers {
  padding: 50px;
  background-color: #ccc;
}

.spoilers__item {
  margin: 0px 0px 20px 0px;
}

.spoilers__title {
  padding: 0px 0px 0px 30px;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.spoilers__title::before,
.spoilers__title::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}

.spoilers__title::before {
  left: 0;
  transform: rotate(45deg);
}

.spoilers__title::after {
  left: 7px;
  transform: rotate(-45deg);
}

.spoilers__title.active::before,
.spoilers__title.active::after {
  background-color: red;
}

.spoilers__title.active::before {
  transform: rotate(-45deg);
}

.spoilers__title.active::after {
  transform: rotate(45deg);
}

.spoilers__text {
  display: none;
  font-size: 12px;
  padding: 10px 0px 0px 0px;
}

.spoilers {
  padding: 50px;
  background-color: #ccc;
}

.spoilers__item {
  margin: 0px 0px 20px 0px;
}

.spoilers__title {
  padding: 0px 0px 0px 30px;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.spoilers__title::before,
.spoilers__title::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}

.spoilers__title::before {
  left: 0;
  transform: rotate(45deg);
}

.spoilers__title::after {
  left: 7px;
  transform: rotate(-45deg);
}

.spoilers__title.active::before,
.spoilers__title.active::after {
  background-color: red;
}

.spoilers__title.active::before {
  transform: rotate(-45deg);
}

.spoilers__title.active::after {
  transform: rotate(45deg);
}

.spoilers__text {
  display: none;
  font-size: 12px;
  padding: 10px 0px 0px 0px;
}