.titles-footer {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin: 0px 0px 40px 0px;
  @media (max-width: 1023px) {
    margin: 0px 0px 20px 0px;
  }
}
.bottom-footer {
  padding: 50px 0px 60px;
  @media (max-width: 1023px) {
    padding: 12.5px 0px 15px;
  }
  &__row {
    display: flex;
    @media (max-width: 678px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__column {
    flex: 1 1 100%;
    &:last-child {
      flex: 0 0 auto;
    }
    @media (max-width: 678px) {
      &:first-child {
        display: flex;
        justify-content: space-around;
      }
    }
  }

  &__link {
    color: #b2b2b2;
    font-size: 19px;
    font-weight: 600;
    line-height: 32.25px;
    letter-spacing: 0.13px;
    @include anim(0.3s, 0s);
    &:last-child {
      margin: 0px 0px 0px 45px;
      @media (max-width: 678px) {
        margin: 0px;
      }
    }
    @media (min-width: 1024px) {
      &:hover {
        color: #004cff;
      }
    }
  }

  &__rights {
    @extend .bottom-footer__link;
  }
}
.footer {
  padding: 125px 45px 0px;
  color: #ffffff;
  font-size: 19px;
  @media (max-width: 1023px) {
    padding: 45px 15px 0px;
  }
  @media (max-width: 385px) {
    padding: 25px 5px 0px;
  }
  &__top {
    display: flex;
    margin: 0px 0px 65px 0px;
    @media (max-width: 1023px) {
      justify-content: center;
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: 650px) {
      margin: 0px 0px 20px 0px;
      flex-wrap: wrap;
    }
  }
  &__column {
    flex: 1 1 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 1023px) {
      flex: 1 1 100%;
      &:nth-child(1) {
        order: 3;
      }
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(4) {
        order: 4;
        display: none;
      }
    }
    @media (max-width: 650px) {
      align-items: flex-start;
      padding: 0px 0px 0px 30px;
    }
  }

  &__about-us {
    margin: 0px 0px 70px 0px;
    @media (max-width: 1023px) {
      margin: 0;
    }
  }

  &__follow-us {
    @media (max-width: 1023px) {
      margin: 0px 0px 20px 0px;
    }
  }

  &__info {
    align-self: flex-end;
    @media (max-width: 1023px) {
      margin: 0;
      align-self: auto;
    }
  }

  &__returns {
    align-self: flex-end;
    margin: 0px 70px 0px 0px;
    // margin: 0px 0px 0px 112px;
    @media (max-width: 1023px) {
      margin: 0;
      align-self: auto;
    }
  }

  &__bottom-footer {
    border-top: 2px solid #b2b2b2;
  }
}
.about-us {
  max-width: 265px;
  &__title {
    @media (min-width: 1023px) {
      text-align: center;
    }
  }
  &__text {
    line-height: 33.75px;
    p {
      margin: 0px 0px 10px 0px;
      &:last-child {
        margin: 0;
        @media (max-width: 1023px) {
          margin: 0px 0px 20px 0px;
        }
      }
    }
  }
  @media (max-width: 1023px) {
    // max-width: 100%;
  }
}

.follow-us {
  &__social {
    @media (max-width: 1023px) {
      margin: 0px 0px 20px 0px;
    }
  }
  @media (max-width: 1023px) {
    text-align: center;
  }
}
.social {
  &__list {
    display: flex;
    margin: 0px -8px;
    @media (max-width: 1023px) {
      justify-content: center;
    }
    li {
      padding: 0px 8px;
    }
  }

  &__link {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @include anim(0.3s, 0s);
    &_fb {
      background: #004cff url("../img/Social/icons/fb.png") center no-repeat;
    }
    &_inst {
      background: #004cff url("../img/Social/icons/inst.png") center no-repeat;
    }
    &_in {
      background: #004cff url("../img/Social/icons/in.png") center no-repeat;
    }
    &_tw {
      background: #004cff url("../img/Social/icons/tw.png") center no-repeat;
    }
    @media (min-width: 1024px) {
      &:hover {
        box-shadow: inset 0px 0px 0px 2px #ffffff;
      }
    }
  }
}
.info {
  &__list {
    li {
      margin: 0px 0px 12px 0px;
      &:last-child {
        margin: 0;
      }
    }
  }

  &__link {
    color: #ffffff;
    font-size: 19px;
    line-height: 42.75px;
    @include anim(0.3s, 0s);
    @media (min-width: 1024px) {
      &:hover {
        color: #004cff;
      }
    }
  }
}
.returns {
  min-width: 122px;
  white-space: nowrap;
  &__list {
    @extend .info__list;
  }

  &__link {
    @extend .info__link;
  }
}
.contacts {
  @media (max-width: 1023px) {
    text-align: center;
  }
  &__logo {
    margin: 0px 0px 59px 0px;
    @media (max-width: 1023px) {
      margin: 0px 0px 20px 0px;
    }
  }

  &__address {
    @extend .about-us__text;
    margin: 0px 0px 20px 0px;
  }

  &__payment {
    @media (max-width: 1023px) {
      margin: 0px 0px 40px 0px;
    }
  }
}
.payment {
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0px -10px;
    @media (max-width: 1023px) {
      justify-content: center;
    }
    li {
      padding: 0px 10px;
    }
  }

  &__link {
    display: block;
    width: 68px;
    height: 42px;
    background-color: #f8f8f8;
    @include anim(0.3s, 0s);
    @media (min-width: 1024px) {
      &:hover {
        box-shadow: inset 0px 0px 0px 2px #004cff;
      }
    }
    &_visa {
      background: #f8f8f8 url("../img/Payment/icons/visa.svg") center no-repeat;
    }
    &_mc {
      background: #f8f8f8 url("../img/Payment/icons/mc.svg") center no-repeat;
    }
    &_ebay {
      background: #f8f8f8 url("../img/Payment/icons/ebay.svg") center no-repeat;
    }
  }
}
