.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
  min-height: 100vh;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.swiper-button-next,
.swiper-button-prev {
  z-index: 999;
}
