//===+++Шрифты+++===
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "fonts.scss";
//===+++/Шрифты+++===
//=======================================================================
//===+++Шрифт по умолчанию+++===
$fontfamily: "Montserrat";
//===+++/Шрифт по умолчанию+++===
//=======================================================================
//===Файл с обнулением===
@import "nullstyle.scss";
//===+++/Файл с обнулением+++===
//=======================================================================
//===+++Переменные+++===
$container: 1090;

$screen-xl: 1200px;
$screen-bg: 1024px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-li: 480px;
$screen-min: 320px;

$col: #00b5ab;
//===+++/Переменные+++===
//=======================================================================
//===+++Миксины+++===
@import "mixins.scss";
//===+++/Миксины+++===
//=======================================================================
//===+++/Зона контента+++===
.container {
	max-width: $container + px;
	margin: 0 auto;
	padding: 0px 15px;
}
//===+++/Зона контента+++===
//=======================================================================
//===+++Стили для шапки и подвала+++===
@import "header.scss";
@import "slider.scss";
@import "footer.scss";
//===+++/Стили для шапки и подвала+++===
//****************************************

//===+++Повторяющиеся стили+++===

//===+++/Повторяющиеся стили+++===
//=======================================================================
//===+++Основные стили+++===

.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #232323;
}
.content {
	flex: 1 0 auto;
}
.main-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content {
	}

	&__title {
	}

	&__button {
	}
}
.product {
	padding: 75px 0px;
	@media (max-width: 997px) {
		padding: 55px 0px;
	}
	@media (max-width: 767px) {
		padding: 15px 0px;
	}
	&__title {
		text-align: center;
		max-width: 275px;
		margin: 0 auto 60px;
		color: #f1f1f1;
		font-family: Teko;
		font-size: 53px;
		font-weight: 700;
		line-height: 60px;
		text-transform: uppercase;
		@media (max-width: 767px) {
			margin: 0 auto 10px;
		}
	}

	&__filter {
		margin: 0px 0px 34.5px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 14.5px 0px;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px -10px;
		@media (max-width: 767px) {
			padding: 14.5px 0px 15px 0px;
		}
		@media (max-width: 320px) {
			padding: 0;
		}
	}

	&__column {
		flex: 1 1 33.333%;
		padding: 0px 10px;
		margin: 0px 0px 20px 0px;
	}

	&__item-product {
	}
}
.filter {
	padding: 0px 0px 48px 0px;
	border-bottom: 2px solid #b2b2b2;
	@media (max-width: 767px) {
		padding: 0px 0px 28px 0px;
	}
	&__list {
		max-width: 500px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		@media (max-width: 415px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			li {
				margin: 0px 0px 20px 0px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&__link {
		color: #f1f1f1;
		font-size: 21px;
		font-weight: 400;
		line-height: 24.75px;
		cursor: pointer;
		&.active {
			color: #0077ff;
		}
	}
}
.item-product {
	height: 100%;
	display: block;
	padding: 50px 40px 30px;
	background-color: #ffffff;
	@include anim(0.3s, 0s);
	@media (max-width: 375px) {
		padding: 20px 10px 10px;
	}
	@media (min-width: 1023px) {
		&:hover {
			box-shadow: inset 0px 0px 0px 5px #004cff;
		}
	}
	&__body {
		min-height: 428px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__image {
		width: 250px;
		flex: 1 0 100%;
		img {
			max-width: 100%;
		}
	}
	&__title {
		color: #262626;
		font-size: 21px;
		font-weight: 400;
		line-height: 24.75px;
		margin: 0px 0px 27px 0px;
	}

	&__price {
		color: #004cff;
		font-size: 30px;
		font-weight: 700;
		line-height: 38.25px;
	}
}
.fuel {
	padding: 45px;
	@media (max-width: 767px) {
		padding: 15px;
	}
	&__image-link {
		margin: 0px 0px 45px 0px;
		&:last-child {
			margin: 0;
		}
		@media (max-width: 767px) {
			margin: 0px 0px 15px 0px;
		}
	}
}
.image-link {
	color: #ffffff;
	font-family: Teko;
	text-transform: uppercase;
	&__row {
		display: flex;
		justify-content: space-between;
		&_reverse {
			flex-direction: row-reverse;
		}
	}
	&__column-big {
		flex: 1 1 66.666%;
	}
	&__column-small {
		margin: 0px 0px 0px 45px;
		position: relative;
		flex: 1 1 33.333%;
		&_left {
			margin: 0px 45px 0px 0px;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
	&__description-image {
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.description-image {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	&__body {
		padding: 11% 4% 5% 15%;
		width: 100%;
		height: 100%;
		background-color: rgba(34, 89, 219, 0.75);
		position: relative;
		z-index: 2;
		opacity: 0;
		@include anim(0.3s, 0s);
		@media (min-width: 1023px) {
			&:hover {
				opacity: 1;
			}
		}
		@media (max-width: 1023px) {
			opacity: 1;
		}
		@media (max-width: 767px) {
			padding: 10px 0px 10px 0px;
		}
	}
	&__row {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		color: #ffffff;
		font-family: Teko;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		@media (max-width: 1024px) {
			padding: 0px;
		}
	}
	&__column {
		padding: 0px 20px;
		flex: 1 1 100%;
		@media (max-width: 767px) {
			padding: 10px;
		}
		&:last-child {
			flex: 0 1 auto;
		}
	}
	&__title {
		max-width: 575px;
		font-size: 68px;
		font-weight: 500;
		line-height: 61.5px;
		letter-spacing: 2.73px;
		@media (max-width: 787px) {
			max-width: 260px;
			font-size: 43px;
			line-height: 50px;
		}
		@media (max-width: px) {
		}
	}
	&__text {
		max-width: 145px;
		font-family: Teko;
		color: #ffffff;
		text-transform: uppercase;
		p {
			font-size: 78px;
			font-weight: 700;
			line-height: 70.5px;
			&:first-child {
				font-size: 43px;
				font-weight: 500;
				line-height: 123.75px;
			}
		}
	}
	@media (max-width: 787px) {
		p {
			font-size: 45px;
			font-weight: 700;
			line-height: 45.5px;
			&:first-child {
				font-size: 31.5px;
				font-weight: 500;
				line-height: 72.75px;
			}
		}
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
.up-to {
	padding: 45px;
	@media (max-width: 997px) {
		padding: 25px;
	}
	@media (max-width: 767px) {
		padding: 15px;
	}
	&__image-link {
		margin: 0px 0px 45px 0px;
	}
	&__content {
		padding: 71px 0px 175px 0px;
		text-align: right;
		position: relative;
		z-index: 2;
		@media (max-width: 769px) {
			padding: 31px 0px 135px 0px;
		}
	}
	&__text {
		margin: 0px 15% 0px 0px;
		display: inline-flex;
		flex-direction: column;
		text-align: left;
		max-width: 190px;
		font-family: "Teko";
		color: #262626;
		text-transform: uppercase;
		@media (max-width: 769px) {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: 767px) {
			margin: 0px 15% 0px 0px;
		}
		@media (max-width: 548px) {
			margin: 0px 5% 0px 0px;
		}
		p {
			font-size: 95px;
			font-weight: 700;
			line-height: 80px;
			&:first-child {
				font-size: 52px;
				font-weight: 500;
			}
		}
	}
	@media (max-width: 485px) {
		&__text {
			p {
				font-size: 30px;
				line-height: 30px;
				&:first-child {
					font-size: 15px;
					line-height: 15px;
				}
			}
		}
	}
	&__form {
	}
}
.form {
	position: relative;
	&__title {
		text-align: center;
		color: #ffffff;
		font-family: "Teko";
		font-size: 97px;
		font-weight: 700;
		line-height: 146.25px;
		text-transform: uppercase;
		margin: 0px 0px 60px 0px;
		@media (max-width: 650px) {
			margin: 0px 0px 30px 0px;
			font-size: 80px;
			line-height: 95px;
		}
		@media (max-width: 420px) {
			margin: 0px 0px 10px 0px;
			font-size: 50px;
			line-height: 65px;
		}
	}
	&__content {
		padding: 180px 0px 146px 0px;
		background-color: rgba(34, 89, 219, 0.75);
		position: relative;
		z-index: 2;
		opacity: 0;
		@include anim(0.3s, 0s);
		@media (min-width: 1024px) {
			&:hover {
				opacity: 1;
			}
		}
		@media (max-width: 1024px) {
			opacity: 1;
		}
		@media (max-width: 767px) {
			padding: 90px 0px 73px 0px;
		}
		@media (max-width: 650px) {
			padding: 25px 0px 25px 0px;
		}
	}
	&__body {
		display: flex;
		@media (max-width: 650px) {
			display: block;
		}
	}

	&__column {
		flex: 1 1 80%;
		&:last-child {
			flex: 1 1 20%;
		}
		@media (max-width: 650px) {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}

	&__input {
		width: 100%;
		height: 60px;
		padding: 20px 45px;
		color: #707070;
		font-size: 19px;
		font-weight: 400;
		@media (max-width: 420px) {
			padding: 10px 15px;
			color: #707070;
			font-size: 12px;
		}
	}

	&__button {
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.button {
	width: 100%;
	padding: 0px 52px;
	min-height: 60px;
	background-color: #004cff;
	@include anim(0.3s, 0s);
	span {
		color: #ffffff;
		font-size: 19px;
		line-height: 22px;
		font-weight: 600;
		text-transform: uppercase;
	}
	@media (min-width: 1024px) {
		&:hover {
			box-shadow: inset 0px 0px 0px 5px #004cff;
			background-color: #fff;
			span {
				color: #004cff;
			}
		}
	}
}
//----------------------------------------
//===+++/Основные стили+++===

//****************************************
//===+++Отдельный файл с готовыми стилями===
@import "samples.scss";
//===+++/Отдельный файл с готовыми стилями+++===
